### Loading the saved model

In [1]:
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (2.2.0)

In [1]:
import pandas as pd
from joblib import load
import warnings 
warnings.filterwarnings("ignore")
#from sklearn.externals import joblib for older apis
#from sklearn.externals import joblib
import sklearn
print(sklearn.__version__)

1.0.2

In [2]:
class CarPredictionModel():
    
    def __init__(self, model, features, rmse):
        self.model = model
        self.features = features
        self.rmse = rmse

In [3]:
model_v1 = load("cars_v1.pkl")
# For older APIs
#model_v1 = joblib.load('./cars.pkl')

In [4]:
type(model_v1)

__main__.CarPredictionModel

In [5]:
model_v1.model

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num_imputed',
                                                  Pipeline(steps=[('imputation',
                                                                   SimpleImputer()),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['Seats']),
                                                 ('num_not_imputed',
                                                  Pipeline(steps=[('scaler',
                                                                   StandardScaler())]),
                                                  ['age', 'engine_new',
                                                   'mileage_new', 'power_new',
                                                   'KM_Driven']),
                                                 ('catvars',
                                                  Pipeline(steps=[('ohencoder',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['Fuel_Type', 'Transmission',
                                                   'Owner_Type', 'make',
                                                   'Location'])])),
                ('knn', KNeighborsRegressor(weights='distance'))])

In [6]:
model_v1.rmse

0.9598310841411447

In [7]:
model_v1.features

['KM_Driven',
 'Fuel_Type',
 'age',
 'Transmission',
 'Owner_Type',
 'Seats',
 'make',
 'mileage_new',
 'engine_new',
 'power_new',
 'Location']

### Preparing the record for the new used-car for sale

In [8]:
car_dict = {
            'age': 2,
            'KM_Driven' : 5.5, 
            'Fuel_Type' : 'Petrol',
            'Transmission': 'Manual', 
            'Owner_Type': 'First', 
            'Seats' : 5,
            'make': 'maruti',
            'mileage_new' : 16, 
            'engine_new': 1000,
            'power_new': 90,
            'Location': 'Bangalore'
            }

In [9]:
my_car = {}
for key in model_v1.features:
    my_car[key] = 0

In [10]:
for key in car_dict:
    my_car[key] = car_dict[key]

In [11]:
my_car

{'KM_Driven': 5.5,
 'Fuel_Type': 'Petrol',
 'age': 2,
 'Transmission': 'Manual',
 'Owner_Type': 'First',
 'Seats': 5,
 'make': 'maruti',
 'mileage_new': 16,
 'engine_new': 1000,
 'power_new': 90,
 'Location': 'Bangalore'}

In [12]:
df = pd.DataFrame(my_car, index = [0])

In [13]:
df

,KM_Driven,Fuel_Type,age,Transmission,Owner_Type,Seats,make,mileage_new,engine_new,power_new,Location
0,5.5,Petrol,2,Manual,First,5,maruti,16,1000,90,Bangalore

In [14]:
df.shape

(1, 11)

### Predicting the price of the used car

In [15]:
model_v1.model.predict(df)

array([4.65464364])