## Building and storing the file as pickle file

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from xgboost import XGBRegressor

In [2]:
import xgboost
xgboost.__version__

'0.90'

In [3]:
import sklearn
sklearn.__version__

'1.0.2'

## Loading the dataset: Used Car Price Prediction

In [4]:
cars_df = pd.read_csv( "https://drive.google.com/uc?export=download&id=1V_VBbyjGj6vvD0A90S5Lk0DG90djz28B" )

In [5]:
cars_df.head(5)

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,mileage_new,engine_new,power_new,age,make,model,KM_Driven
0,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,18.20,1199,88.70,9,honda,jazz,46
1,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,20.77,1248,88.76,8,maruti,ertiga,87
2,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50,23.08,1461,63.10,7,nissan,micra,86
3,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95,22.30,1248,74.00,8,tata,indica,65
4,Maruti Swift VDI BSIV,Jaipur,2015,64424,Diesel,Manual,First,25.2 kmpl,1248 CC,74 bhp,5.0,NaN,5.60,25.20,1248,74.00,5,maruti,swift,64

In [6]:
cars_df_dev, cars_df_prod = train_test_split(cars_df,
                                             train_size = 0.8,
                                             random_state = 42)

In [7]:
cars_df_prod = cars_df_prod.reset_index()
cars_df_dev = cars_df_dev.reset_index()

In [8]:
x_columns = ['KM_Driven', 'Fuel_Type', 'age',
              'Transmission', 'Owner_Type', 'Seats',
              'make', 'mileage_new', 'engine_new', 
              'power_new', 'Location']
## model of the car is not included in the model

In [9]:
cars_df.shape

(3092, 20)

In [10]:
cars_df = cars_df[x_columns + ['Price']].dropna()

In [11]:
cars_df.shape

(3091, 12)

## Identifying numerical and categorical features

In [12]:
cat_features = ['Fuel_Type',
                'Transmission', 'Owner_Type', 
                'make', 'Location']

In [13]:
num_features = list(set(x_columns) - set(cat_features))

## Split the dataset

In [14]:
x_train, x_test, y_train, y_test = train_test_split(cars_df_dev[x_columns],
                                                    cars_df_dev.Price,
                                                    train_size = 0.8,
                                                    random_state = 100)

In [15]:
x_train.shape

(1978, 11)

## Creating the pipeline for the deployment

In [16]:
numeric_transformer = Pipeline(steps=[('scaler', StandardScaler())])

categorical_transformer = OneHotEncoder(handle_unknown='ignore')

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, num_features),                  
        ('cat', categorical_transformer, cat_features),
    ])

params = { "n_estimators": 400,
           "max_depth": 4,
           "objective": 'reg:squarederror' }

xgb_regressor = XGBRegressor(**params)

reg = Pipeline(steps=[('preprocessor', preprocessor),
                      ('regressor', xgb_regressor)])           

reg.fit(x_train, 
        y_train)

rmse = np.sqrt(mean_squared_error(y_test, 
                                  reg.predict(x_test)))

In [17]:
print(rmse)

0.6908830920584765

In [18]:
!pip install evidently

Requirement already satisfied: evidently in /usr/local/lib/python3.7/dist-packages (0.1.45.dev0)
Requirement already satisfied: statsmodels>=0.12.2 in /usr/local/lib/python3.7/dist-packages (from evidently) (0.13.2)
Requirement already satisfied: dataclasses>=0.6 in /usr/local/lib/python3.7/dist-packages (from evidently) (0.6)
Requirement already satisfied: PyYAML~=5.1 in /usr/local/lib/python3.7/dist-packages (from evidently) (5.4.1)
Requirement already satisfied: plotly>=4.12.0 in /usr/local/lib/python3.7/dist-packages (from evidently) (5.5.0)
Requirement already satisfied: pandas>=1.1.5 in /usr/local/lib/python3.7/dist-packages (from evidently) (1.3.5)
Requirement already satisfied: scipy>=1.5.4 in /usr/local/lib/python3.7/dist-packages (from evidently) (1.7.3)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from evidently) (2.23.0)
Requirement already satisfied: scikit-learn>=0.23.2 in /usr/local/lib/python3.7/dist-packages (from evidently) (1.0.2)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.7/dist-packages (from evidently) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.5->evidently) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.5->evidently) (2018.9)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.12.0->evidently) (8.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly>=4.12.0->evidently) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->evidently) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->evidently) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->evidently) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->evidently) (3.0.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.23.2->evidently) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.23.2->evidently) (1.1.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.12.2->evidently) (0.5.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.12.2->evidently) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=21.3->statsmodels>=0.12.2->evidently) (3.0.7)

In [19]:
!pip install statsmodels --upgrade

Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (0.13.2)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.7.3)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.21.5)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (0.5.2)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.3.5)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=21.3->statsmodels) (3.0.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->statsmodels) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.2->statsmodels) (1.15.0)

## Predicting on Production Set

In [20]:
cars_df_prod['prediction'] = reg.predict(cars_df_prod[x_columns])

### Retriving the dummy variables from the pipeline

In [21]:
new_cat_features = list(reg['preprocessor'].transformers_[1][1].get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [22]:
new_cat_features

['x0_Diesel',
 'x0_Petrol',
 'x1_Automatic',
 'x1_Manual',
 'x2_First',
 'x2_Fourth & Above',
 'x2_Second',
 'x2_Third',
 'x3_chevrolet',
 'x3_datsun',
 'x3_fiat',
 'x3_ford',
 'x3_honda',
 'x3_hyundai',
 'x3_mahindra',
 'x3_maruti',
 'x3_mitsubishi',
 'x3_nissan',
 'x3_renault',
 'x3_skoda',
 'x3_tata',
 'x3_toyota',
 'x3_volkswagen',
 'x4_Ahmedabad',
 'x4_Bangalore',
 'x4_Chennai',
 'x4_Coimbatore',
 'x4_Delhi',
 'x4_Hyderabad',
 'x4_Jaipur',
 'x4_Kochi',
 'x4_Kolkata',
 'x4_Mumbai',
 'x4_Pune']

In [23]:
len(num_features + new_cat_features)

40

## Prepare Production Data

We need to use unscaed numerical data and new categorical (dummy) variables

In [24]:
cars_df_prod_x_cols = reg.named_steps['preprocessor'].transform(cars_df_prod[x_columns])
cars_df_prod_x_cols_df = pd.DataFrame( cars_df_prod_x_cols.toarray(), columns  = num_features + new_cat_features)
cars_df_prod_x_cols_df_final = pd.concat([cars_df_prod[num_features], cars_df_prod_x_cols_df[new_cat_features]], axis = 1)
cars_df_prod_x_cols_df_final['prediction'] = reg.predict(cars_df_prod[x_columns])
cars_df_prod_x_cols_df_final

,Seats,power_new,engine_new,KM_Driven,mileage_new,age,x0_Diesel,x0_Petrol,x1_Automatic,x1_Manual,...,x4_Chennai,x4_Coimbatore,x4_Delhi,x4_Hyderabad,x4_Jaipur,x4_Kochi,x4_Kolkata,x4_Mumbai,x4_Pune,prediction
0,5.0,98.6,1396,55,15.00,8,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.563105
1,5.0,55.2,814,38,21.10,5,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.665395
2,5.0,86.8,1198,22,18.50,5,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.280173
3,5.0,55.2,814,45,21.10,8,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.618295
4,5.0,88.7,1199,3,19.00,2,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,8.667166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
614,5.0,74.0,1198,22,16.47,6,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.447949
615,5.0,74.0,1248,88,22.90,7,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4.497047
616,5.0,78.9,1197,59,20.36,8,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.545256
617,5.0,78.9,1197,70,20.36,10,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.934929
618,5.0,73.9,1198,58,16.47,9,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.392910

## Preparing the training data

In [25]:
x_train_new = x_train.reset_index()
x_train_x_cols = reg.named_steps['preprocessor'].transform(x_train_new)
x_train_x_cols_df = pd.DataFrame( x_train_x_cols.toarray(), columns  = num_features + new_cat_features)
x_train_x_cols_df_final = pd.concat([x_train_new[num_features], x_train_x_cols_df[new_cat_features]], axis = 1)
x_train_x_cols_df_final['prediction'] = reg.predict(x_train[x_columns])
x_train_x_cols_df_final['Price'] = np.array(y_train)
x_train_x_cols_df_final

,Seats,power_new,engine_new,KM_Driven,mileage_new,age,x0_Diesel,x0_Petrol,x1_Automatic,x1_Manual,...,x4_Coimbatore,x4_Delhi,x4_Hyderabad,x4_Jaipur,x4_Kochi,x4_Kolkata,x4_Mumbai,x4_Pune,prediction,Price
0,5.0,74.00,1248,25,28.40,3,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.427374,5.99
1,5.0,80.00,1197,58,17.00,8,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,4.149638,4.00
2,5.0,67.10,998,73,24.07,5,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.177943,3.30
3,5.0,86.80,1196,21,18.16,3,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.403126,6.42
4,5.0,83.80,1461,55,19.87,6,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.100860,4.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1973,5.0,74.00,1248,37,26.59,5,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,5.084397,4.85
1974,5.0,67.04,1364,179,23.59,7,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.958296,3.80
1975,5.0,67.00,1172,72,15.70,10,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.264123,2.25
1976,5.0,90.00,1396,77,23.00,4,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,7.162492,6.75
1977,5.0,73.90,1248,100,19.30,10,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.431774,4.50

# Creating Data Drift Report

In [26]:
from evidently.dashboard import Dashboard
from evidently.tabs import DataDriftTab, NumTargetDriftTab

from evidently.model_profile import Profile
from evidently.profile_sections import DataDriftProfileSection

/usr/local/lib/python3.7/dist-packages/distributed/config.py:20: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  defaults = yaml.load(f)
/usr/local/lib/python3.7/dist-packages/evidently/tabs/__init__.py:8: UserWarning: 'import evidently.tabs' is deprecated, use 'import evidently.dashboard.tabs'
  warnings.warn("'import evidently.tabs' is deprecated, use 'import evidently.dashboard.tabs'")
/usr/local/lib/python3.7/dist-packages/evidently/profile_sections/__init__.py:8: UserWarning: 'import evidently.profile_sections' is deprecated, use 'import evidently.model_profile.sections'
  warnings.warn("'import evidently.profile_sections' is deprecated, use 'import evidently.model_profile.sections'")

In [27]:
from evidently.pipeline.column_mapping import ColumnMapping

column_mapping = ColumnMapping()

column_mapping.target = 'Price' #'y' is the name of the column with the target function
column_mapping.prediction = 'prediction' #'pred' is the name of the column(s) with model predictions
column_mapping.id = None #there is no ID column in the dataset
column_mapping.datetime = None #'date' is the name of the column with datetime 

column_mapping.numerical_features = num_features #list of numerical features
column_mapping.categorical_features = new_cat_features #list of categorical features

In [28]:
column_mapping

ColumnMapping(target='Price', prediction='prediction', datetime=None, id=None, numerical_features=['Seats', 'power_new', 'engine_new', 'KM_Driven', 'mileage_new', 'age'], categorical_features=['x0_Diesel', 'x0_Petrol', 'x1_Automatic', 'x1_Manual', 'x2_First', 'x2_Fourth & Above', 'x2_Second', 'x2_Third', 'x3_chevrolet', 'x3_datsun', 'x3_fiat', 'x3_ford', 'x3_honda', 'x3_hyundai', 'x3_mahindra', 'x3_maruti', 'x3_mitsubishi', 'x3_nissan', 'x3_renault', 'x3_skoda', 'x3_tata', 'x3_toyota', 'x3_volkswagen', 'x4_Ahmedabad', 'x4_Bangalore', 'x4_Chennai', 'x4_Coimbatore', 'x4_Delhi', 'x4_Hyderabad', 'x4_Jaipur', 'x4_Kochi', 'x4_Kolkata', 'x4_Mumbai', 'x4_Pune'], datetime_features=None, target_names=None, task=None)

In [30]:
cars_data_drift_dashboard = Dashboard(tabs=[DataDriftTab()])
cars_data_drift_dashboard.calculate(x_train_x_cols_df_final, 
                                    cars_df_prod_x_cols_df_final, 
                                    column_mapping = column_mapping)

In [31]:
cars_data_drift_dashboard.save("newreports/cars_datadriftV1.html")

In [32]:
cars_data_drift_profile = Profile(sections=[DataDriftProfileSection()])
cars_data_drift_profile.calculate(x_train_x_cols_df_final, 
                                  cars_df_prod_x_cols_df_final, 
                                  column_mapping = column_mapping)
cars_data_drift_profile.json()

'{"data_drift": {"name": "data_drift", "datetime": "2022-03-11 17:01:43.897289", "data": {"utility_columns": {"date": null, "id": null, "target": "Price", "prediction": "prediction"}, "cat_feature_names": ["x0_Diesel", "x0_Petrol", "x1_Automatic", "x1_Manual", "x2_First", "x2_Fourth & Above", "x2_Second", "x2_Third", "x3_chevrolet", "x3_datsun", "x3_fiat", "x3_ford", "x3_honda", "x3_hyundai", "x3_mahindra", "x3_maruti", "x3_mitsubishi", "x3_nissan", "x3_renault", "x3_skoda", "x3_tata", "x3_toyota", "x3_volkswagen", "x4_Ahmedabad", "x4_Bangalore", "x4_Chennai", "x4_Coimbatore", "x4_Delhi", "x4_Hyderabad", "x4_Jaipur", "x4_Kochi", "x4_Kolkata", "x4_Mumbai", "x4_Pune"], "num_feature_names": ["Seats", "power_new", "engine_new", "KM_Driven", "mileage_new", "age"], "datetime_feature_names": [], "target_names": null, "options": {"confidence": 0.95, "drift_share": 0.5, "nbinsx": 10, "xbins": null}, "metrics": {"n_features": 40, "n_drifted_features": 1, "share_drifted_features": 0.025, "dataset_drift": false, "Seats": {"current_small_hist": [[0.005393743257820931, 1.548004314994605, 0.0, 0.010787486515641846, 0.0, 0.08360302049622444, 0.010787486515641861, 0.0, 0.002696871628910473, 0.005393743257820915], [4.0, 4.6, 5.2, 5.8, 6.4, 7.0, 7.6, 8.2, 8.8, 9.399999999999999, 10.0]], "ref_small_hist": [[0.024435456690259538, 1.5419615773508581, 0.0, 0.004213009774182673, 0.0, 0.08004718570947089, 0.014324233232221107, 0.0, 0.0, 0.0016852039096730664], [4.0, 4.6, 5.2, 5.8, 6.4, 7.0, 7.6, 8.2, 8.8, 9.399999999999999, 10.0]], "feature_type": "num", "p_value": 0.9999999250332691}, "power_new": {"current_small_hist": [[0.0019883186280601466, 0.0037280974276127747, 0.00149123897104511, 0.00596495588418044, 0.019634646452093948, 0.02112588542313906, 0.02932769976388716, 0.030321859077917238, 0.02634522182179694, 0.013918230396421026], [35.0, 41.5, 48.0, 54.5, 61.0, 67.5, 74.0, 80.5, 87.0, 93.5, 100.0]], "ref_small_hist": [[0.003073320200011679, 0.004609980300017519, 0.0019976581300075896, 0.004533147295017227, 0.012677445825048192, 0.01890091923007179, 0.03557368131513519, 0.03211619609012205, 0.024432895590092853, 0.014060439915053433], [34.2, 40.78, 47.36, 53.940000000000005, 60.52, 67.1, 73.68, 80.26, 86.84, 93.42, 100.0]], "feature_type": "num", "p_value": 0.9573490201801237}, "engine_new": {"current_small_hist": [[0.0002909578609886471, 0.000491857336433189, 0.0023207353197904016, 0.0010737730584104831, 6.92756811877731e-06, 1.3855136237554636e-05, 0.0, 6.927568118777304e-06, 7.620324930655049e-05, 6.927568118777304e-06], [624.0, 857.2, 1090.4, 1323.6, 1556.8, 1790.0, 2023.1999999999998, 2256.3999999999996, 2489.6, 2722.7999999999997, 2956.0]], "ref_small_hist": [[0.0003403649405900583, 0.0005203030938956305, 0.0022849977540249796, 0.0010579496242544488, 6.503788673695382e-06, 1.7343436463187705e-05, 0.0, 1.300757734739075e-05, 4.552652071586772e-05, 2.1679295578984584e-06], [624.0, 857.2, 1090.4, 1323.6, 1556.8, 1790.0, 2023.1999999999998, 2256.3999999999996, 2489.6, 2722.7999999999997, 2956.0]], "feature_type": "num", "p_value": 0.7279504251655871}, "KM_Driven": {"current_small_hist": [[0.006389018190447505, 0.011043874300630687, 0.014329655084289409, 0.0104962441700209, 0.008031908582276863, 0.0027381506530489326, 0.0009127168843496435, 0.0011865319496545364, 0.0007301735074797153, 0.0006389018190447499], [1.0, 18.7, 36.4, 54.099999999999994, 71.8, 89.5, 107.19999999999999, 124.89999999999999, 142.6, 160.29999999999998, 178.0]], "ref_small_hist": [[0.005308392315470172, 0.011599820244916301, 0.012947983372654757, 0.01345354454555668, 0.006600381979552859, 0.0028367599146163353, 0.00143242332322211, 0.0008145152230086507, 0.00042130097741826763, 0.00014043365913942254], [0.0, 18.0, 36.0, 54.0, 72.0, 90.0, 108.0, 126.0, 144.0, 162.0, 180.0]], "feature_type": "num", "p_value": 0.4051450668440002}, "mileage_new": {"current_small_hist": [[0.007557936305491789, 0.01795009872554298, 0.031176487260153634, 0.09447420381864727, 0.12659543311698734, 0.10770059235325811, 0.0831372993604096, 0.051960812100256104, 0.047237101909323634, 0.01700535668735651], [11.3, 13.01, 14.72, 16.43, 18.14, 19.85, 21.56, 23.27, 24.979999999999997, 26.689999999999998, 28.4]], "ref_small_hist": [[0.010172877259611824, 0.016954795432686392, 0.046856889195787746, 0.08569878418703313, 0.13902932254802824, 0.09001455029717129, 0.0937137783915758, 0.052714000345261275, 0.05209746232952722, 0.02250363757429282], [12.0, 13.64, 15.28, 16.92, 18.56, 20.2, 21.84, 23.479999999999997, 25.119999999999997, 26.759999999999998, 28.4]], "feature_type": "num", "p_value": 0.325412000230785}, "age": {"current_small_hist": [[0.03706167442744464, 0.13874370426684404, 0.15774969115271317, 0.05891855934619405, 0.09312933574075832, 0.054167062624726814, 0.02090658557445594, 0.015204789508695245, 0.006652095410054177, 0.005701796065760705], [1.0, 2.7, 4.4, 6.1, 7.8, 9.5, 11.2, 12.9, 14.6, 16.299999999999997, 18.0]], "ref_small_hist": [[0.08666762964032933, 0.12879772738215609, 0.11435312244210119, 0.07463045885695027, 0.036592999181472394, 0.01853724300640376, 0.008907506379700517, 0.003611151235013723, 0.002407434156675813, 0.001685203909673072], [1.0, 3.1, 5.2, 7.300000000000001, 9.4, 11.5, 13.600000000000001, 15.700000000000001, 17.8, 19.900000000000002, 22.0]], "feature_type": "num", "p_value": 0.5377664300989141}, "x0_Diesel": {"current_small_hist": [[1138, 840], [0.0, 1.0]], "ref_small_hist": [[354, 265], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.8799710244841337}, "x0_Petrol": {"current_small_hist": [[1138, 840], [1.0, 0.0]], "ref_small_hist": [[354, 265], [1.0, 0.0]], "feature_type": "cat", "p_value": 0.8799710244841299}, "x1_Automatic": {"current_small_hist": [[1839, 139], [0.0, 1.0]], "ref_small_hist": [[569, 50], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.380019370807567}, "x1_Manual": {"current_small_hist": [[1839, 139], [1.0, 0.0]], "ref_small_hist": [[569, 50], [1.0, 0.0]], "feature_type": "cat", "p_value": 0.38001937080756854}, "x2_First": {"current_small_hist": [[1670, 308], [1.0, 0.0]], "ref_small_hist": [[516, 103], [1.0, 0.0]], "feature_type": "cat", "p_value": 0.5250163943795536}, "x2_Fourth & Above": {"current_small_hist": [[1976, 2], [0.0, 1.0]], "ref_small_hist": [[619], [0.0]], "feature_type": "cat", "p_value": 0.4286910217246698}, "x2_Second": {"current_small_hist": [[1701, 277], [0.0, 1.0]], "ref_small_hist": [[532, 87], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.9746114876139398}, "x2_Third": {"current_small_hist": [[1949, 29], [0.0, 1.0]], "ref_small_hist": [[603, 16], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.0626776343019213}, "x3_chevrolet": {"current_small_hist": [[1920, 58], [0.0, 1.0]], "ref_small_hist": [[599, 20], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.7038959021092062}, "x3_datsun": {"current_small_hist": [[1973, 5], [0.0, 1.0]], "ref_small_hist": [[614, 5], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.05169462367112221}, "x3_fiat": {"current_small_hist": [[1961, 17], [0.0, 1.0]], "ref_small_hist": [[617, 2], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.17176566873440247}, "x3_ford": {"current_small_hist": [[1832, 146], [0.0, 1.0]], "ref_small_hist": [[578, 41], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.5245360303352284}, "x3_honda": {"current_small_hist": [[1784, 194], [0.0, 1.0]], "ref_small_hist": [[557, 62], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.879420411635844}, "x3_hyundai": {"current_small_hist": [[1505, 473], [0.0, 1.0]], "ref_small_hist": [[465, 154], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.624121369889413}, "x3_mahindra": {"current_small_hist": [[1945, 33], [0.0, 1.0]], "ref_small_hist": [[602, 17], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.08849146412117648}, "x3_maruti": {"current_small_hist": [[1283, 695], [0.0, 1.0]], "ref_small_hist": [[409, 210], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.5811149489898682}, "x3_mitsubishi": {"current_small_hist": [[1976, 2], [0.0, 1.0]], "ref_small_hist": [[619], [0.0]], "feature_type": "cat", "p_value": 0.4286910217246698}, "x3_nissan": {"current_small_hist": [[1937, 41], [0.0, 1.0]], "ref_small_hist": [[605, 14], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.7757249916853666}, "x3_renault": {"current_small_hist": [[1921, 57], [0.0, 1.0]], "ref_small_hist": [[610, 9], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.048859421401935554}, "x3_skoda": {"current_small_hist": [[1967, 11], [0.0, 1.0]], "ref_small_hist": [[615, 4], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.7963108041860905}, "x3_tata": {"current_small_hist": [[1880, 98], [0.0, 1.0]], "ref_small_hist": [[589, 30], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.9137547603556344}, "x3_toyota": {"current_small_hist": [[1927, 51], [0.0, 1.0]], "ref_small_hist": [[601, 18], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.6563582910316006}, "x3_volkswagen": {"current_small_hist": [[1881, 97], [0.0, 1.0]], "ref_small_hist": [[587, 32], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.7906103657480901}, "x4_Ahmedabad": {"current_small_hist": [[1906, 72], [0.0, 1.0]], "ref_small_hist": [[591, 28], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.3188316404257767}, "x4_Bangalore": {"current_small_hist": [[1892, 86], [0.0, 1.0]], "ref_small_hist": [[598, 21], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.2966824677888611}, "x4_Chennai": {"current_small_hist": [[1812, 166], [0.0, 1.0]], "ref_small_hist": [[560, 59], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.37923449745622917}, "x4_Coimbatore": {"current_small_hist": [[1774, 204], [0.0, 1.0]], "ref_small_hist": [[562, 57], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.4248537075107679}, "x4_Delhi": {"current_small_hist": [[1815, 163], [0.0, 1.0]], "ref_small_hist": [[574, 45], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.4373814611880007}, "x4_Hyderabad": {"current_small_hist": [[1726, 252], [0.0, 1.0]], "ref_small_hist": [[525, 94], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.11813510382156389}, "x4_Jaipur": {"current_small_hist": [[1797, 181], [0.0, 1.0]], "ref_small_hist": [[569, 50], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.41306337779872226}, "x4_Kochi": {"current_small_hist": [[1756, 222], [0.0, 1.0]], "ref_small_hist": [[552, 67], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.7826514995065625}, "x4_Kolkata": {"current_small_hist": [[1770, 208], [0.0, 1.0]], "ref_small_hist": [[548, 71], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.5033397593107043}, "x4_Mumbai": {"current_small_hist": [[1777, 201], [0.0, 1.0]], "ref_small_hist": [[552, 67], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.6365049334552433}, "x4_Pune": {"current_small_hist": [[1755, 223], [0.0, 1.0]], "ref_small_hist": [[559, 60], [0.0, 1.0]], "feature_type": "cat", "p_value": 0.2706171464806362}}}}, "timestamp": "2022-03-11 17:01:43.897565"}'

## Generating Regression Performance Report

This report is generated after the actual ground truth is obtained i.e. after the actual sales of the cars in production environment.

In [37]:
cars_df_prod_x_cols_df_final['Price'] = cars_df_prod['Price']

In [38]:
from evidently.tabs import RegressionPerformanceTab

In [39]:
dashboard = Dashboard(tabs=[RegressionPerformanceTab()])

In [40]:
dashboard.calculate(x_train_x_cols_df_final, 
                    cars_df_prod_x_cols_df_final, 
                    column_mapping=column_mapping)

In [41]:
dashboard.save("newreports/cars_dataPerormanceV1.html")